
.TodoList{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 30px;
    margin-top:0;
    font-size: 2rem;
    color: azure;
    margin-top: 0;
}
.TodoList ul{
    padding-left: 0;
    margin-top:0;
}