.searchBar{
   
    background-color: rgb(74, 69, 78);
border-radius: 35px;
border: 5px solid;
border-color: rgba(89, 144, 245, 0.839);
height : 64px;
width: calc(100% - 50%);
justify-content: center;
text-align: center;
font-weight: 500;
font-size: 30px;
margin: 24px;
margin-bottom: 0px;
}
.searchBar::placeholder{
    margin-top: 10px;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.searchBarContainer{
    display: flex;
    justify-content: center;
}